<!DOCTYPE html>
<html>
  <head>
     <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <title>Favorite Things</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Favorite Things</h1>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
